.container {
  margin: 0;
  font-family: sans-serif;
}

.chatbox {
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  margin: 3rem 1rem;
  /* padding: 12px;
  height: 400px; */
  overflow-y: auto;
  /* display: flex; */
  flex-direction: column;
  /* gap: 8;
  margin-bottom: 12px; */
}

.heading {
  margin: 0;
  position: fixed;
  top: 0;
  background: #333;
  width: 100%;
  padding: 0.3rem 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.head-start{
  display: flex;
  align-items: center;
  gap: 12px;
}

.heading h2 {
  padding: 0;
  margin: 0.1rem;
}


.loading {
  font-size: 12px;
  color: #888;
}

.message {
  padding: 8px 12px;
  border-radius: 12px;
  /* max-width: 80%; */
  display: flex;
}

.user-message {
  /* align-self: flex-end; */
  justify-content: flex-end;
  /* background: #007bff; */
  color: white;
}

.assistant-message {
  /* align-self: flex-start; */
  justify-content: flex-start;
  /* background: #f1f1f1; */
  color: #333;
}

.message-content {
  max-width: 80%;
  white-space: pre-wrap;
  line-height: 1.5;
}

.user-message .message-content {
  background: #007bff;
  color: white;
  padding: 8px 12px;
  border-radius: 12px;
}

.assistant-message .message-content {
  background: #f1f1f1;
  color: #333;
  padding: 8px 12px;
  border-radius: 12px;
}

#main-form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 5px;
  width: 100%;
}

#main-form #text-input {
  width: 80%;
  padding: 8px;
  border-radius: 6px;
  border: 1px solid #ccc;
  border: 1px solid #eee;
  box-sizing: border-box;
}

#main-form button {
  width: 6rem;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  background: #007bff;
  color: white;
  cursor: pointer;
}

@media (max-width: 425px) {
  #main-form button {
    width: 4rem;
    padding: 8px 12px;
  }
}